body{
font-family: 'EB Garamond', serif;
}

.navbar{
  background-color: blue;
  color: white;
  border: solid #013277ff 5px;
  font-size: 20px;
}

.card-header{
  border: solid #013277ff 2px;
  background-color: #013277ff;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.card{
  margin: auto;
  width: 80%;
  margin-top: 20px;
}

.btn-link{
  color: white;
  display: flex;
  justify-content: center;
}

.btn-link: link, .btn-link: hover {
  text-decoration: none;
}

.classInfo{
  list-style-type: none;
}

.btn-secondary{
  align-self: flex-start;
  text-decoration: none;
  color: white;
  background-color: #013277ff;
}

.dropdown{
  width: 100%;
  text-align: center;
}

.dropdown-toggle{
  display: inline-block;
  background-color: grey;
  border: 0px;
  margin: 5px;
}

.btn-primary:hover{
    background-color:#013277ff;
    color: white;
}

.show>.btn-primary.dropdown-toggle{
  background-color:#013277ff;
  color: white;
}

#dropdownFilter{
  text-align: center;
}

.topTitle{
  margin-left: 10px;
}

.wrapper{
margin: 20px;
}

.regButton{
  background-color: #013277ff;
  border: none;
  color: white;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.majContain{
  margin: 10px;
}

.reqBut{
  background-color: #013277ff;
  color: white;
  text-align: left;
  height: flex;
  border: solid white 6px;
  font-size: 18px;
}

.col-4{
  padding: 0px;
}
