body{
font-family: 'EB Garamond', serif;
}

.navbar{
  background-color: blue;
  color: white;
  border: solid #013277ff 5px;
  font-size: 20px;
}

.card-header{
  border: solid #013277ff 2px;
  background-color: #013277ff;
  color: white;
}

.align-items-start{
  background-color: #013277ff;
  color: white;
  height: 60px;
}

.btn-link{
  color: white;
}

.btn-link: link, .btn-link: hover {
  text-decoration: none;
}

.classInfo{
  list-style-type: none;
}

.popover1{
  display: flex;
  justify-content: flex-end;
}

.btn-secondary{
  align-self: flex-start;
  text-decoration: none;
  color: white;
  background-color: #013277ff
}
